/* .navigation {
  border: 1px solid black;
} */

.tags{
  padding: 0;
  /* border: 1px solid black; */
}

.lfg {
  /* border: 1px solid black; */
}

.lfg {
  font-size: 0.5em;
}

.profile-content{
  border: 1px solid blue;
}


.header {
  /* border: 1px solid red; */
  padding: 20px;
  /* height: 250px; */
  /* width: 70%;
  margin: auto; */
}

.others{
  /* border: 1px solid black; */
  padding: 0;
}

.name {
  /* border: 1px solid black; */
}

.name-lfg{
  /* border: 1px solid black; */
  /* padding-left: 1.5px; */
  padding: 0;
}

.name-lfg-edit{
  /* border: 1px solid red; */
  padding: 0;
}

.skills{
  /* border: 1px solid black; */
  padding: 0
}

.bread, .cancel {
  /* border: 1px solid black; */
}

.about-job {
  /* border: 1px solid black; */
}

.view-job {
  font-size: 0.5em;
  padding: 0;
}

.job {
  border: 1px solid black;
  /* width: 70%; */
}

.post > p {
  font-size: 1.8em;
}

.cancel {
  padding: 2.5px;
}

.edit {
  font-size: 0.9em;
  /* border: 1px solid black; */
  padding: 22px 0 22px 45px;
}

.grad-cap, .grad-univ{
  /* border: 1px solid black; */
}
.list {
  border: 1px solid black;
  padding: 20px;
}

.body {
  /* border: 1px solid red; */
  /* padding: 20px; */
}

.edit-profile-body {
  /* border: 1px solid black; */
  /* padding-bottom: 20px; */
}

.edit-profile-content {
  padding-bottom: 100px;
}

.personal, .links {
  padding: 15px
}

#whole-page {
  background-color: #eee;
  height: 100%;
}

hr {
  border: 1px solid #ddd;
}

#year {
  font-size: 0.7em;
}

.job-content {
  border: 1px solid red;
  padding: 15px;
}

.img, .post, .comp, .small-desc {
  border: 1px solid black;
  padding: 0;
}

.review-status {
  font-size: 0.8em;
}

/* .each-company {
  border: 1px solid black;
} */

.company {
  border: 1px solid black;
}

.company-tags, .header, .tabs {
  border: 1px solid black;
}

.tabs {
  padding: 0;
}

.tab {
  border: 1px solid black;
  padding: 10px;
}

.each-job, .each-company{
  border: 1px solid black;
  /* padding: 15px; */
  /* padding: 0; */
  padding-bottom: 15px;
}

.each-review {
  padding: 20px;
}

.each-job:hover {
  background-color: #eee;
  cursor: pointer;
}

.company {
  padding-bottom: 20px;
}

.header{
  padding: 15px;
  /* border: 1px solid black; */
}

.dashboard-content {
  /* border: 1px solid black; */
  padding: 0;
}

.success-rate, .profile-views {
  padding: 0;
}

.applied-jobs {
  /* border: 1px solid blue; */
  padding: 0;
}

.description {
  /* padding: 15px; */
  /* border: 1px solid blue; */
}

.description > div {
  /* border: 1px solid black; */
  padding: 0;
}

.company-content {
  border: 1px solid black;
  padding: 15px;
}

.joblist-content, .companylist-content {
  border: 1px solid red;
  padding: 0;
}

.job-tags {
  /* border: 1px solid black; */
  font-size: 0.9em;
  padding: 0;
}

.apply-btn {
  font-weight: lighter;
}

.apply-form {
  border: 1px solid black;
}

.tab-name, .icon {
  /* font-size: 0.8em; */
  /* border: 1px solid blue; */
}

.tab-name {
  padding: 0;
}

.icon {
  /* border: 1px solid blue; */
  padding: 0;
}

.about-company-content {
  padding: 20px;
}

.postajob-content {
  border: 1px solid black;
}

/* h4 {
  border: 1px solid blue;
} */

.tab {
  /* border: 1px solid red; */
  padding: 0;
  padding: 10px 0 7px 0;
}

.tabs{
  padding: 8px 0;
}

th {
  /* border: 1px solid black; */
  text-align: center;
}

.applied-job {
  border: 1px solid black;
  /* padding-left: 15px; */
}

.tab:hover {
  background-color: #ccc;
  transition: 0.7s all;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.reviews {
  border: 1px solid black;
}

.review-description {
  padding: 0;
  /* border: 1px solid black; */
}

.app-job {
  /* border: 1px solid black; */
}

.badge-info {
  background-color: #3a87ad;
}

.badge-success {
  background-color: #468847;
}

.badge-danger {
  background-color: #b94a48;
}



#searchbar {
  width: 100%;
}

#success-rate-header {
  font-size: 2em;
}

#show-success-rate {
  font-size: 5em;
  font-weight: lighter;
}

#jobs-list {
  /* border: 1px solid black; */
}

textarea {
  resize: none;
}

h2 {
  /* border: 1px solid black; */
}

a {
  cursor: pointer;
}


@media only screen and (max-width: 641px)
{
  .make-center {
    text-align: center;
  }
  .cancel {
    padding-left: 15px;
  }
  .body {
    padding-bottom: 20px;
  }
  .apply-job-content {
    line-height: 1.8em;
  }
  .post {
    font-size: 0.7em;
  }
  .about-company {
    line-height: 1.8em;
  }
  .pros {
    padding: 3px;
  }
  th {
    font-size: 0.8em;
  }
  td {
    font-size: 0.8em;
  }
  td.badge {
    font-size: 0.7em;
  }

}

@media only screen and (min-width: 641px)
{
  .name{
    padding: 0px;
  }
  .container {
    width: 85%;
  }
  .cancel {
    padding-left: 120px;
  }
  .personal {
    border-right: 0.5px solid #ddd;
  }
  .body {
    padding: 20px;
  }
  .apply-job-content {
    line-height: 2.5em;
  }
  .job-tags {
    /* padding: 0 0 0 20px; */
  }
  .each-job, .each-company {
    padding: 15px;
  }
  .about-company {
    line-height: 2.5em;
    font-size: 1.1em;
  }
  .gap {
    width: 48%;
    height: 250px;
  }
  .profile-section {
    padding: 15px;
  }
  .profile-views {
    margin-left: 4%;
  }
}
